{% extends "Templates/default.twig" %}

{% block body %}

	<div class="container">
		<div class="row">
			<div class="col-12">

				<form action="" method="POST" enctype="multipart/form-data">
					{% include "Blocks/formHeader.twig" %}

					<h2>
						Bloky
					</h2>
					<table class="table">
						<tbody>
							{% for postBlock in post.getPostBlocks %}
								<tr>
									<td class="narrow nowrap">
										<a href="{{ url("admin.postBlocks.view", { postId: post.getId, postBlockId: postBlock.getId }) }}">
											{{ postBlock.getPosition }}
										</a>
									</td>
									<td class="narrow nowrap">
										{{ postBlock.getKind.getTitle }}
									</td>
									<td>
										{% include "Admin/Posts/Blocks/Kinds/#{postBlock.getKind.getCode}/preview.twig" %}
									</td>
									<td class="narrow nowrap">
										<a class="btn btn-primary" href="{{ url("admin.postBlocks.edit", { postId: post.getId, postBlockId: postBlock.getId }) }}">
											Upravit
										</a>
									</td>
									<td class="narrow nowrap">
										<a class="btn btn-danger" href="{{ url("admin.postBlocks.delete", { postId: post.getId, postBlockId: postBlock.getId }) }}">
											Smazat
										</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>

					<h2>
						Přidat blok
					</h2>
					<ul>
						{% for kind in kinds %}
							<li>
								<a href="{{ url("admin.postBlocks.create", { postId: post.getId, kindCode: kind.getCode }) }}">
									{{ kind.getTitle }}
								</a>
							</li>
						{% endfor %}
					</ul>

					<button class="btn btn-primary" type="submit">
						Uložit
					</button>

				</form>

			</div>
		</div>
	</div>

{% endblock body %}
